:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue: #345FF6;
  --gunmetal: #253347;
  --dark-electric-blue: #5E6E85;
  --borders: #D8E2E7;
  --pure-white: #ffffff;
}

*{
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 64px;
  line-height: 1.1;
  color: var(--gunmetal);
  margin: 0;
}

h2{
  margin: 0;
  font-size: 48px;
}

h3{
  margin: 0;
  font-size: 24px;
}

p{
  color: var(--dark-electric-blue);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root{
  width: 100%;
  padding: 0;
}

header{
  position: fixed;
  top: 75px;
  left: 140px;
  z-index: 999;
}

#root main{
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

img{
  width: 100%;
}

section{
  padding: 0 140px;
}


section#keyvisual{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 727px;
  margin-bottom: 65px;
  max-width: 2000px;
}

#keyvisual #keyvisualBox-bg{
  position: absolute;
  left: 20px;
  height: 100%;
  width: calc(100% - 438px);
  background: linear-gradient(132deg, rgba(214, 230, 254, 0) 0%, rgba(214, 230, 254, 1) 100%);
  border-radius: 0 0 35px 35px;
  padding: 266px 0 0 466px;
}

.keyvisual__text-container{
  max-width: 564px;
  display: flex;
  flex-direction: column;

}

#calculator{
  /* position: absolute; */
  max-width: 564px;
  background-color: var(--pure-white);
  padding: 32px;
  border-radius: 16px;
  z-index: 2;
  margin-left: 564px;
  margin-top: 160px;
  height: fit-content;
  /* top: 166px;
  left: 700px; */
  /* width: 480px; */
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
}

#calculator h3{
  color: var(--gunmetal);
}

.input-group{
  display: flex;
  justify-content: space-between;
}

.input-pair{
  width: 100%;
  display: flex;
  column-gap: 18px;
}

.input-radio .input-pair{
  align-items: center;
}

.input-radio .input-pair input, .input-radio .input-pair label{
  cursor: pointer;
  font-weight: bold;
}

.input-radio{
  color: var(--gunmetal);
  column-gap: 24px;
}

.input-radio input{
  width: 31px;
  height: 31px;
  margin: 0;
  accent-color: var(--pure-white);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--borders);
  border-radius: 50%;
}

/* .input-radio input:active{
  background-color: var(--blue);
  border: 8px solid rgba(52, 95, 246, 0.15);
} */



.input-radio input:checked{
  background-color: var(--blue);
  border: 8px solid var(--borders);
}


.input-group.input-measurements{
  column-gap: 24px;
}

.input-group.input-measurements .input-pair{
  flex-direction: column-reverse;
  row-gap: 8px;
}

.input-group.input-group.input-measurements input{
  padding: 20px 24px;
  background-color: var(--pure-white);
  border-radius: 12px;
  border: 1px solid var(--borders);
  width: 100%;
  color: var(--gunmetal);
  font-size: 24px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-group.input-group.input-measurements input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-group.input-group.input-measurements input::placeholder{
  color: var(--borders);
}

.input-group.input-group.input-measurements input:focus {
  outline: 1px solid var(--borders);
  border: 1px solid var(--borders);
}

.input-group.input-measurements .input-pair label{
  color: var(--dark-electric-blue);
  font-size: 14px;
}

.input-group.input-measurements .input-pair#height{
  position: relative;
}

.input-group.input-measurements .input-pair#weight{
  position: relative;
}

.input-group.input-measurements .input-pair span{
  content: 'cm';
  position: absolute;
  right: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--blue);
  bottom: 20px;
  right: 20px;
}

/* RESULT */

#calculator #result{
  padding: 32px;
  color: var(--pure-white);
  background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
  display: flex;
  column-gap: 24px;
  border-radius: 16px 99px 99px 16px;
}

#calculator #result p{
  color: var(--pure-white);
  margin: 0;
}

#calculator #result .result-text p{
  font-size: 18px;
}

#calculator #result .result-text h2{
  font-size: 64px;
}

#calculator #result.none p{
  text-align: start;
}

#calculator #result.none{
  flex-direction: column;
}


#calculator #result .result-text h3{
  color: var(--pure-white);
}

#calculator #result .result-description{
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator #result .result-description p {
  font-size: 14px;
  font-weight: normal;
}

#calculator #result .result-description p span{
  font-weight: bold;
}

#calculator #result .result-text, #calculator #result .result-description{
  width: 100%;
}

#yourResult{
  display: flex;
  column-gap: 131px;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 96px;
}

.yourResult__image img{
  max-width: 750px;
}

#yourResult .yourResult__text{
  max-width: 465px;
}

#yourResult .yourResult__text h2{
  color: var(--gunmetal);
}

#yourResult .yourResult__text p{
  margin: 35px 0 40px;
}

#tips{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  margin: 0 auto;
  padding: 72px 116px 96px;
  border-radius: 35px;
  background: linear-gradient(132deg, rgba(214, 230, 254, 0) 0%, rgba(214,230,254, 0.25) 100%);
  margin-bottom: 120px;
}

.tips-card{
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  width: 100%;
  max-width: 365px;
}

.tips-icon{
  width: 64px;
  height: 64px;
}

.tips-card h3{
  color: var(--gunmetal);
}

.tips-text p{
  margin: 24px 0 0;
}

#limitations{
  position: relative;
  display: flex;
  justify-content: center;
}


.limitations-text{
  color: var(--gunmetal);
  max-width: 564px;
}

.limitations-text p{
  margin: 35px 0 0;
}

.limitations__card-container{
  position: relative;
  left: 100px;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  column-gap: 24px;
  display: grid;
  grid-template-columns: auto auto;
}

.limitations-card{
  width: 365px;
  background-color: var(--pure-white);
  box-shadow: 16px 32px 56px  0 rgba(143, 174, 207, 0.25);
  padding: 32px;
  border-radius: 16px;
  text-align: start;
}

.limitations-card:first-child{
  grid-area: 1/1;
  transform: translateX(calc(365px/2));
}

.limitations-card:nth-child(2){
  grid-area: 2/1;
  transform: translateX(calc(-365px/4));
}

.limitations-card:nth-child(3){
  grid-area: 2/2;
  transform: translateX(calc(-365px/4));
}

.limitations-card:nth-child(4){
  grid-area: 3/1;
  transform: translateX(calc(-365px/2));
}


.limitations-card:nth-child(5){
  grid-area: 3/2;
  transform: translateX(calc(-365px/2));
}




.limitations-card .limitations__card-head{
  display: flex;
  column-gap: 16px;
}

.limitations-card .limitations__card-head img{
  width: 32px;
  height: 32px;
}

.limitations-card h3{
  color: var(--gunmetal);
}

.limitations-card p{
  margin: 16px 0 0;
}

.input-imperial{
  display: flex;
  column-gap: 16px;
}

.input-imperial .input__imperial-container{
  position: relative;
}


@media (max-width: 1800px){
  #keyvisual #keyvisualBox-bg{
    padding: 266px 0 0 166px;
  }
}

@media (max-width: 1439px){
  section#keyvisual{
    padding: 0 60px;
  }
  #keyvisual #keyvisualBox-bg{
    padding: 266px 0 0 56px;
  }

  #limitations{
    flex-direction: column;
    text-align: center;
    row-gap: 56px;
  }

  .limitations-text{
    max-width: none;
  }

  .limitations__card-container{
    position: inherit;
    margin-left: 0;
    left: 0;
    justify-content: center;
  }

  .limitations-card{
    width: 465px;
  }

  .limitations-card:first-child{
    grid-area: 1/1;
    transform: translateX(0);
  }
  
  .limitations-card:nth-child(2){
    grid-area: 1/2;
    transform: translateX(0);
  }
  
  .limitations-card:nth-child(3){
    grid-area: 2/1;
    transform: translateX(0);
  }
  
  .limitations-card:nth-child(4){
    grid-area: 2/2;
    transform: translateX(0);
  }
  
  
  .limitations-card:nth-child(5){
    grid-area: 3/2;
    transform: translateX(calc(-465px/2));
  }
  
}

@media (max-width: 1239px){
  section{
    padding: 0 40px;
  }
  section#keyvisual{
    flex-direction: column;
    margin-bottom: 200px;
  }
  #keyvisual #keyvisualBox-bg{
    width: 100%;
    padding: 112px 40px 0;
    left: 0;
    
  }

  .keyvisual__text-container{
    width: 100%;
    max-width: none;
    text-align: center;
  }
  #calculator{
    margin-left: 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    max-width: none;
    width: calc(100% - 80px);
    transform: translate(40px, 30%);
  }
  #yourResult{
    column-gap: 75px;
    padding-left: 0;
  }
  #yourResult .yourResult__text{
    max-width: 435px;
  }
  .yourResult__image{
    margin-left: -60px;
  }
}


@media (max-width: 1023px){
  #tips{
    flex-direction: column;
    width: 100%;
    padding: 68px 40px;
    row-gap: 40px;
    border-radius: 0;
  }
  .tips-card{
    max-width: none;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
  }

  #limitations h2{
    font-size: 32px;
  }

  .limitations-card{
    max-width: 335px;
    width: 100%;
  }
  .limitations-card:nth-child(5){
    transform: translateX(calc(-335px / 2))
  }
  #yourResult .yourResult__text{
    max-width: 335px;
  }
  #yourResult .yourResult__text h2{
    font-size: 32px;
    line-height: 1.1;
  }
  #yourResult .yourResult__text p{
    margin: 30px 0;
  }
  #calculator #result .result-text h2{
    font-size: 48px;
    line-height: 1.1;
  }
  #calculator #result .result-text p{
    font-size: 16px;
  }
  .keyvisual__text-container p{
    font-size: 16px;
  }
  #keyvisual h1{
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  #keyvisual #keyvisualBox-bg{
    padding-top: 90px;
  }

  #limitations{
    padding: 0 24px;
  }

  .limitations__card-container{
    row-gap: 16px;
    column-gap: 0;
  }

  .limitations-card{
    max-width: none;
    width: 100%;
  }
  .limitations-card:first-child{
    grid-area: 1/1;
    transform: translateX(0);
  }
  
  .limitations-card:nth-child(2){
    grid-area: 2/1;
    transform: translateX(0);
  }
  
  .limitations-card:nth-child(3){
    grid-area: 3/1;
    transform: translateX(0);
  }
  
  .limitations-card:nth-child(4){
    grid-area: 4/1;
    transform: translateX(0);
  }
  
  
  .limitations-card:nth-child(5){
    grid-area: 5/1;
    transform: translateX(0);
  }

  #tips {
    padding: 56px 24px;
  }
  .tips-card{
    flex-direction: column;
    align-items: start;
    row-gap: 32px;
  }
  #yourResult{
    flex-direction: column;
    padding: 0;
    row-gap: 48px;
    margin-bottom: 70px;
  }
  #yourResult .yourResult__text{
    max-width: none;
    padding: 0 24px;
  }
  #yourResult .yourResult__text p{
    margin-bottom: 0;
  }
  .yourResult__image{
    margin-left: 0;
  }
  #calculator #result{
    flex-direction: column;
    row-gap: 24px;
    border-radius: 16px;
  }
  #calculator {
    position: inherit;
    width: 100%;
    transform: none;
    /* width: calc(100% - 48px); */
    /* transform: translate(24px, 52%); */
    padding: 24px;
    row-gap: 24px;
    margin-top: -200px;
  }
  .input-group.input-measurements{
    flex-direction: column;
    row-gap: 16px;
  }
  header{
    position: absolute;
    top: 28px;
    left: 50%;
    right: 50%;
    transform: translateX(-20px);
  }
  header img{
    width: 40px;
  }
  section#keyvisual{
    padding: 0 24px;
    height: fit-content;
    margin-bottom: 72px;
  }
  #keyvisual #keyvisualBox-bg{
    width: calc(100% + 48px);
    transform: translateX(-24px);
    position: inherit;
    padding-bottom: 217px;
  }
  .keyvisual__text-container p{
    margin-top: 24px;
  }
}